* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#miBoton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #df980a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: padding 0.3s ease;
  position: relative;
  top: 20px;
  left: 20px;
  border-radius: 5px;
}

#miBoton:hover {
  background-color: rgb(204, 50, 199);
  padding: 22px;
}
